body {
}

.container {
}

#header {
    margin-top: 7em;
    text-align:center;
    margin-bottom: 5em;
}

#header hr {
    border-top-color: rgb(230, 230, 230);
    display: none;
}

#header #home {
    font-size: 8em;
    margin:0px;
    margin-right:0.2em;
    line-height: 0px;
    display: inline-block;
}

#header-nav #home a{
    color: black;
}

#header-nav #home a:hover {
    text-decoration: none;
    color: red;
}

ul#header-nav{
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#header-nav li {
    display: inline;
    padding: 10px;
    margin: 0px;
    font-size: xx-large;
}

#header-nav a {
    color: rgb(100, 100, 100);
}

#header-nav a.active {
    color: black;
}

#header-nav a:hover {
    color: red;
    text-decoration:none;
}

#home {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 15em;
}

ul#posts {
    list-style-type:none;
    text-align:center;
    padding:0px;
    margin:0px;
    width:auto;
}

ul#posts li {
    font-size: large;
    padding-top: 1em;
    padding-top: 1em;
}

ul#posts li a {
    color: rgb(75, 75, 75);
    display:block;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 1.5em;
    display: inline-block;
}

ul#posts li a:hover {
    color: red;
    text-decoration:none;
}

#posts span.meta {
    color: rgb(150, 150, 150);
    font-size: small;
    display: block;
    margin-top: 0px;
    padding-top:0px;
    font-family: 'Helvetica Neue', sans-serif;
}

#post h1 {
    margin-bottom: 2em;
    text-align: center;
}

#post {
    margin-bottom: 15em;
    margin-left: 20%;
    margin-right: 20%;
}

#content {
    font-size: 1.1em;
    text-align: justify;
}

#post .meta {
    font-size: small;
    color: gray;
}

blockquote {
    border-left-color: rgb(75,75,75);
    border-left-width: 0.15em;
}

blockquote p {
    font-size: 1em;
    color: rgb(75,75,75);
}

#photos {
    text-align: center;
    margin-bottom: 10em;
}

#photos object {
    margin: 2em;
}

#fof {
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Helvetica Neue', sans-serif;
}

#fof h1 {
    margin-top: 3em;
    text-align: center;
    font-family: 'Anton', 'Helvetica Neue', sans-serif;
    font-size: 3em;
}

