@import url('http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo|Anton|Noticia+Text');

#header {
    font-family:'Swanky and Moo Moo', cursive;
}

ul#posts a {
    font-family: 'Anton', sans-serif;
}

#post h1 {
    font-family: 'Anton', sans-serif;
}

#content p {
    font-family: 'Georgia', sans-serif;
}
